/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f8ff;
}

/* 기본 텍스트 관련 */
a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 600;
}
