/* 카페 페이지*/

/* 카페 사진 + 운영정보 레이아웃*/

.cafe-layout {
  display: flex;

  align-items: flex-start;
  margin: 30px 0;
}

/*카페 사진 */
.cafe-photo {
  flex: 2;
}

.cafe-photo img {
  width: 100%;
  max-width: 90%;
  max-height: 20%;
  border-radius: 8px;
  display: block;
}

/*운영 정보*/
.cafe-index {
  margin-top: 7%;
  flex: 1.3;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background: #f9fafb;
  overflow-y: auto;
  cursor: default;
}

.cafe-index h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.cafe-index ul {
  list-style: none;
  padding: 0;
}

.cafe-index li {
  margin-bottom: 8px;
  font-size: 15px;
}

/* 카테고리 버튼*/

.cafe-category {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 25px auto;
  flex-wrap: wrap;
  cursor: default;
}

.cat-btn {
  padding: 8px 14px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.15s;
}

.cat-btn.active {
  background: #a07639;
  color: white;
  border-color: #8c6930;
}

/*메뉴 카드 그리드 */

.cafe-menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .cafe-layout {
    flex-direction: column;
  }

  .cafe-menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cafe-menu-container {
    grid-template-columns: 1fr;
  }
}

/* 카드 */
.cafe-card {
  background: #fff6e9;
  border: 1px solid #e7d7b9;
  padding: 14px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.cafe-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.cafe-card-name {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #4a3d27;
  cursor: default;
}

.cafe-category-title {
  margin: 40px 0 20px;
  text-align: center;
  cursor: default;
}

.category-en {
  font-family: "Bebas Neue", Impact, Arial Black, sans-serif;
  font-size: 42px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 5px;
  color: #19140f;
  margin-bottom: 6px;
}
