/* Grid layout */
body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
  height: 100vh;
  overflow: hidden;
}

/* Left Sidebar Nav */
#nav {
  height: 100vh;
  overflow-y: auto;
}

/* Main content */
main#app {
  overflow-y: auto;
  padding: 1.5rem;
  background: #f5f8ff;
}

/* Responsive Layout */
@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  #nav {
    grid-row: 2;
  }

  main#app {
    grid-column: 1;
  }

  #footer {
    grid-column: 1;
  }
}
