/* Grid 레이아웃 */
body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

#logo {
  grid-column: 1;
  grid-row: 1;
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#nav {
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
}

main#app {
  grid-column: 2;
  grid-row: 1 / span 2;
  overflow-y: auto;
  padding: 1.5rem;
  background: #f5f8ff;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  #nav {
    grid-row: 2;
  }

  main#app {
    grid-column: 1;
  }

  #footer {
    grid-column: 1;
  }
}
